<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans https://www.springframework.org/schema/beans/spring-beans-2.0.xsd"
	   default-init-method="setOtherName">

	<bean id="myInitializingBean2" class="org.springframework.zhao.initializing_bean2.MyInitializingBean2" lazy-init="true" init-method="setOtherName" >
		<property name="name" value="initializing_bean2.MyInitializingBean2$Name$XML"></property>
	</bean>
</beans>
